<button class="btn btn-success mb2" (click)="onAdd()">Add Item</button><hr>
<div *ngIf="isOneChecked()">
    <input type="checkbox" [(ngModel)]="checkUncheckCondition" (change)="checkUncheckAll()"><i>Check/Uncheck All</i>
    <button class="btn btn-danger ml-5" (click)="deleteChecked()">Delete <i class="fa fa-trash" aria-hidden="true"></i></button>
</div>
<ul class="list-group" *ngFor="let item of items; let i = index">
  <div class="itemchechbox">  <input type="checkbox" [(ngModel)]="item.isChecked" (change)="isAllchecked()"></div>
  <li  class="list-group-item" [ngStyle]="{'backgroundColor': item.isChecked ? '#eee': ''}"
    (click)="onEdit(item)">
      {{ item.name }}
    <div class="action">
      <span><i class="fa fa-check px-2" aria-hidden="true" (click)="onCheckedOff(i, item)"></i></span>
      <span><i class="fa fa-trash px-2" aria-hidden="true" (click)="onDelete(i)"></i></span>
    </div>
  </li>
</ul>



